<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
  <!-- <link rel="stylesheet" href="../static/style.css" type="text/css" /> -->
</head>
{% extends "course-layout-page.html" %}
<body>
  <h1 class="title">GPA Calculator</h1>
  <div class='outer-box'>
    <div class='inner-box'>
      <p id="class-name">Enter your information here!</p>
      <form class='block' id='grade-options'>
        <input type="text" class='course' placeholder="Course Name">
        <label>Units</label>
        <input type="text" class='units'>
        <label>Grade</label>
        <select class='grade-select' id='grade-selected-0'>
          <option value="">Select</option>
          <option value="4.00">A</option>
          <option value="3.67">A-</option>
          <option value="3.33">B+</option>
          <option value="3.00">B</option>
          <option value="2.67">B-</option>
          <option value="2.33">C+</option>
          <option value="2.00">C</option>
          <option value="1.67">C-</option>
          <option value="1.33">D+</option>
          <option value="1.00">D</option>
          <option value="0.67">D-</option>
          <option value="0.0">F</option>
        </select>
      </form>
    </div>

    <div class='btn btn-default' id='add-course' style="cursor:pointer;">(+) Add Course</div>
    <div class='btn btn-default' style="cursor:pointer;" id="calculate-gpa">Calculate GPA</div>
    <br/>
    <div class='result'>
      <h3 id="gpa"></h3>
    </div>
  </div>
  <div class='spacer'></div>
</body>

<script src="{{url_for('static', filename='gpa_calculator.js')}}"></script>
<!-- <script src="../static/gpa_calculator.js">//Test without neo4j<input type="button" value="Calculate GPA" id="calculate-gpa" style="cursor:pointer;"/></script> -->
